@charset "utf-8";
/* CSS Document */
/**************************************************************/
/*       Author : Sai Kiran                                   */
/*                Design lead @ www.agiliq.com                */
/**************************************************************/
/**************************************/
/*              RESET                 */
/**************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */


blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
.bold {
	font-weight:bold;
}
.clear{clear:both;}


/**************************************/
/*             CONTAINERS             */
/**************************************/
body{background:url(../images/mainpage_bg.jpg);}
#mainpage_bg{ min-height:1100px; background:url(../images/mainpage_bg.jpg);}
#page_container{width:1000px; display:block; margin:0px auto; min-height:870px; background:#FFF; padding-top:0px; }
#header{width:930px; display:block; padding-top:10px; margin:0px auto; height:112px; background:url(../images/header_bg.jpg) bottom center no-repeat; }
#breadcrumbs{width:930px; display:block; margin:0px auto; margin-top:4px; }
#content_block{width:1000px; display:block; background-color:#FFF; margin:0px auto; padding-bottom:25px;}
#content_block .leftpanel{width:600px; display:block; float:left; margin-left:35px; }
#content_block .rightpanel{ width:300px; display:block; float:right; margin-right:35px; }
#footerbg{width:1000px; margin:0px auto;background:#FFF; min-height:50px; border-top:1px solid #CCC;clear:both; text-align:center;}
#footerbg .footertext { font-family: Tahoma, Geneva, sans-serif; font-size:11px; font-style:normal; color:#063474;line-height:40px; text-decoration:none; font-weight:normal; text-align:center; }
#footerbg .footertext a {  color:#063474; text-decoration:none; padding-left:3px; font-weight:bold; }
#footerbg .footertext a:hover{  color:#000; text-decoration:underline;  padding-left:3px; font-weight:bold;}

/**************************************/
/*            HEADINGS                */
/**************************************/
h1{font-family:Arial, Helvetica, sans-serif; font-size:20px; font-style:normal; color:#063474;line-height:24px; text-decoration:none; font-weight:normal; padding:10px 0px 10px 0px; }
h2{font-family:Arial, Helvetica, sans-serif ; font-size:18px; font-style:normal;color:#063474;line-height:30px; text-decoration:none; font-weight:normal;  }
h3{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-style:normal;color:#063474;line-height:24px; text-decoration:none; font-weight:normal;  }
h4{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-style:normal;color:#063474;line-height:20px; text-decoration:none; font-weight:normal;  }
h5{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style:normal;color:#063474;line-height:20px; text-decoration:none; font-weight:normal;  }
h6{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style:normal;color:#063474;line-height:30px; text-decoration:none; font-weight:normal;  }
h1.post_title{font-size:20px;  font-weight:normal;border-bottom:1px solid #D0D0D0; text-decoration:none; text-align:left;  }
h1.post_title:hover{font-size:20px;  font-weight:normal;border-bottom:1px solid #D0D0D0; color:#000; text-decoration:none;  text-align:left; }
h6.posted_by{font-style:italic;  font-weight:normal; margin-bottom:20px; color:#7C7C7C;}
h1.message{width:300px; float:right; font-family:Helvetica, Arial, sans-serif; font-size:27px;  font-weight:normal; padding-top:20px; color:#063474; letter-spacing:-1px; text-transform:capitalize; font-weight:bold; text-align:center; padding-top:70px; }

p{font-family: 'Droid Serif', arial, serif; font-size:12px; font-style:normal; color:#393939;line-height:20px;  margin-bottom:15px; text-align:left; font-style:italic;}
/**************************************/
/*            BREADCRUMBS             */
/**************************************/
ul, li {list-style-type:none;padding:0;	margin:0; }		
#crumbs {height:2.3em;	border:1px solid #D0D0D0; font-family:Tahoma, Geneva, sans-serif; font-size:11px;}
#crumbs li {float:left;	line-height:2.3em;	color:#063474;	padding-left:.75em;	}		
#crumbs li a {	background:url(../images/crumbs.gif) no-repeat right center;	display:block;	color:#962000;	padding:0 15px 0 0;	}							
#crumbs li a:link,#crumbs li a:visited {	color:#063474;	text-decoration:none;	}	
a:link, a:visited,#crumbs li a:hover,#crumbs li a:focus {	color:#000;	}		


/**************************************/
/*            TOP MENU                */
/**************************************/
#demo-container{padding:0px 15px 0 15px;background:#FFF; border-bottom:1px solid #CCC; width:900px; margin:0px auto;}
ul#simple-menu{list-style-type:none;width:100%;position:relative;height:27px;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;margin:0;padding:11px 0 0 0; text-transform:capitalize;}
ul#simple-menu li{display:block;float:right;margin:0 0 0 4px;height:27px;}
ul#simple-menu li.left{margin:0;}
ul#simple-menu li a{display:block;float:left;color:#000;background:#CCC;line-height:27px;text-decoration:none;padding:0 17px 0 18px;height:27px;text-transform:capitalize;border-top:1px solid #CCC; border-left:1px solid #CCC;border-right:1px solid #CCC; }
ul#simple-menu li a.right{padding-right:19px;}
ul#simple-menu li a:hover{background:#063474; color:#FFF;}
ul#simple-menu li a.current{color:#063474;background:#fff; border:1px solid #FFF; border-top:1px solid #CCC; border-left:1px solid #CCC;border-right:1px solid #CCC;}
ul#simple-menu li a.current:hover{color:#2E4560;background:#fff;}

/**************************************/
/* BLOGPOSTS,CATEGORIES AND ARCHIEVES */
/**************************************/

.block_title{font-family: 'Droid Serif', arial, serif; font-size:18px; line-height:30px; text-transform:uppercase; color:#962000; margin-bottom:10px; font-weight:bold; border-bottom:1px solid #FFF;}

#blogposts_block{ clear:both; background:#FFCC00; padding:20px; height:287px; margin-top:10px; }
#blogposts_block .block_title{border-bottom:1px solid #E8A219;}
#blogposts_block .list{ width:280px; float:left;font-family: 'Molengo', arial, serif; font-size:12px; padding-top:0px;}
#blogposts_block .list li a{font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#962000; text-decoration:none; line-height:30px;  background:url(../images/list_image.png) no-repeat 0px 10px; padding-left:20px; border-bottom:1px solid #E8A219; display:block;  margin-right:20px; font-weight:bold;}
#blogposts_block .list li a:hover{ color:#000; text-decoration:underline; line-height:30px; border-bottom:1px solid #E8A219; display:block; font-weight:bold;}

#categories_block{ clear:both;background:#063474; padding:20px; margin-top:10px; font-family: 'Molengo', arial, serif; font-size:11px; color:#FFF;}
#categories_block .list_left{ width:280px; float:left;font-family: 'Molengo', arial, serif; font-size:11px;}
#categories_block .list_left li a{font-family: 'Molengo', arial, serif; font-size:11px; color:#FFF; text-transform:uppercase;text-decoration:underline; line-height:20px;display:inline;}
#categories_block .list_left li a:hover{ color:#FFCC00;text-decoration:underline; line-height:20px; }
#categories_block .list_left .left {float:left;width:150px;}
#categories_block .list_left .right {float:left;text-align:left;}

#archives_block{background:#063474; padding:20px; margin:20px 0px 20px 0px; color:#FFF;}
#archives_block .list_left{ width:280px; float:left;font-family: 'Molengo', arial, serif; font-size:11px;}
#archives_block .list_left li a{font-family: 'Molengo', arial, serif; font-size:11px; color:#FFF; text-transform:uppercase;text-decoration:underline; line-height:20px;}
#archives_block .list_left li a:hover{ color:#FFCC00;text-decoration:underline; line-height:20px; }
#archives_block .list_left .left {float:left;width:150px;}
#archives_block .list_left .right {float:left;text-align:left;}


/**************************************/
/*             COMMENTS               */
/**************************************/
.comment_block{border-top:1px solid #D0D0D0; margin-top:25px;  clear:both; margin-bottom:10px; }
.comment_block .left_panel{width:120px; float:left; display:block;}
.comment_block .right_panel{width:470px; float:right; display:block; padding-left:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#393939; line-height:20px; text-align:justify;}
.comment_block .right_panel a{font:12px Arial, Helvetica, sans-serif; font-size:12px; font-style:normal;color:#063474; text-decoration:none; font-weight:bold; }
.comment_block .right_panel a:hover{font:12px Arial, Helvetica, sans-serif; font-size:12px;; font-style:normal;color:#000; text-decoration:underline; font-weight:bold;}
.comment_block .right_panel a.noline {text-decoration:none; }

.comment_block hr{border:1px solid #D0D0D0; }
.comment_block .right_panel ul{ }
.comment_block .right_panel ul li{ margin-left:30px; list-style-type:disc;}
.comment_block .right_panel ol{ margin:10px 0px 10px 30px; }
.comment_block .right_panel ol li{ list-style-type:decimal;}
.picborder{border:5px solid #D0D0D0;}

.frame_bg{width:88px; height:93px; background:url(../images/frame_bg.png) no-repeat; padding:14px 0px 0px 24px;}
.italics{font-family: 'Droid Serif', arial, serif; font-size:12px; font-style:italic;color:#063474;line-height:30px; text-align:center;}
.italics a{color:#063474;text-decoration:none;}
.italics a:hover{color:#000;}
.comment_bg{ background:url(../images/bubble_bg.png) no-repeat; width:41px; height:39px; margin:0px auto; font-family: 'Droid Serif', arial, serif; font-size:14px; font-style:italic;color:#962000;line-height:30px; color:#FFF; text-align:center;}
.comment_bg a{text-decoration:none;}
.reactions_bg{ background:url(../images/reactions_bg.png) no-repeat; width:44px; height:44px; margin:0px auto;  font-family: 'Droid Serif', arial, serif; font-size:14px; font-style:italic;color:#962000;line-height:40px; color:#FFF; text-align:center;}
.reactions_bg a{text-decoration:none;}
.topics{font:bold 11px Tahoma, Geneva, sans-serif; color:#962000; clear:both; margin-bottom:50px;}
.topics a{font:bold 11px Tahoma, Geneva, sans-serif; color:#962000;padding:5px; background:#EDDA9C; margin:0px 5px 0px 5px;}
.topics a:hover{font:bold 11px Tahoma, Geneva, sans-serif; color:#FFF; padding:5px; background:#905533; }
.moreinfo{font-family: 'Droid Serif', arial, serif; font-size:12px; font-style:italic;color:#962000;line-height:20px; float:right;}
.moreinfo:hover{font-family: 'Droid Serif', arial, serif; font-size:12px; font-style:italic;color:#962000;line-height:20px; float:right;}

/**************************************/
/*              FORMS                 */
/**************************************/
.textfield{width:520px; background-color:#F0F0F0; border:1px solid #D1D1D1; padding:5px;}
.textarea{width:520px; background-color:#F0F0F0; border:1px solid #D1D1D1; padding:5px; margin-bottom:5px;}
fieldset{border:3px solid #EAEAEA; padding-top:20px; padding-right:30px; padding-bottom:20px; padding-left:30px; font:bold 11px Tahoma, Geneva, sans-serif; line-height:30px; color:#063474;  margin:0px auto; margin-bottom:20px;}
legend{font:16px Arial, Helvetica, sans-serif; line-height:24px;}
.but_right{float:right;}


.submit{ text-align:right; padding:3px;}




.general_block{ display:block; background-color:#FFF;}
.commentor_block{ display:block; background-color:#f5f2df; padding:20px 30px 20px 30px; margin:10px 0px 10px 0px;}
.commentor_block .leftnpanel{ display:block; width:440px; float:left;}
.commentor_block .rightnpanel{ display:block; width:100px; float:right; text-align:right; }
.commentor{font:bold 14px Arial, Helvetica, sans-serif;}
.commentor a {text-decoration: none;color:#063474;}
.postdate{font:12px Arial, Helvetica, sans-serif; color:#666; padding-left:20px;}
.comment_post p{ margin-top:10px; font:12px Arial, Helvetica, sans-serif; line-height:18px; }
#pre {display: block;margin: 2em 0;white-space: pre;overflow: auto;width:500px;line-height: 1.4;border: 3px solid #D0D0D0;background: #F1F1F1;padding:20px;font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.comment_block .right_panel p{ margin-top:10px; font:12px Arial, Helvetica, sans-serif; line-height:18px; }
ul.errorlist {
    color: red;
    display: inline;	
}
ul.errorlist li {
    display: inline;
}

.newsletter{ width:300px; height:158px; display:block; background:url(../images/newsletter_signup_bg.jpg) no-repeat; margin-top:20px; float:right; margin-bottom:10px;}
#categories_block .block_title{color:#FFF; font-weight:bold; border-bottom:1px solid #FFF;}
#archives_block .block_title{color:#FFF; font-weight:bold; border-bottom:1px solid #FFF;}
.clickbut{width:141px; height:38px; background:url(../images/click_but.png) no-repeat; cursor:pointer; margin:0px auto; margin-top:110px; border:0px; margin-left:80px;}
.clickbut:hover{width:141px; height:38px; background:url(../images/click_but.png) no-repeat 0px -38px; cursor:pointer;margin:0px auto; margin-top:110px; border:0px; margin-left:80px;}
